<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TDDisPresetProperties</key>
	<array>
		<string>#install_time</string>
		<string>#start_reason</string>
		<string>#fps</string>
		<string>#distinct_id</string>
		<string>#ram</string>
	</array>
</dict>
</plist>
